Repository DanloisTovar/portafolio-vfinal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

style(projects): 🎨 agregar separadores gradient entre secciones de proyectos
  src/pages/[lang]/index.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

style(projects): 🎨 hacer separadores más anchos y espaciados entre secciones
  src/pages/[lang]/index.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

style(projects): 🎨 usar hr full-width con gradiente como separador de secciones
  src/pages/[lang]/index.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

style(projects): 🎨 líneas separadoras más gruesas (h-1) con opacidad 40%
  src/pages/[lang]/index.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

style(projects): 🎨 ajustar grosor de separadores a h-0.5 (2px)
  src/pages/[lang]/index.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

feat(ui): ✨ crear SectionDivider con clip-path diagonal
  src/components/ui/SectionDivider.astro
  src/pages/[lang]/index.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

refactor(projects): 🔥 revertir SectionDivider, volver a hr con gradiente
  src/pages/[lang]/index.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

style(separators): 🎨 agregar hr con gradiente entre todas las secciones
  src/pages/[lang]/index.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

style(separators): 🎨 refinar hr a 1px (h-px) y agregar entre Contact y Footer
  src/pages/[lang]/index.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

style(footer): 🎨 agregar hr gradiente sobre el copyright del footer
  src/components/Footer.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

fix(footer): 🐛 restaurar efecto neon en iconos de redes sociales
  src/components/Footer.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

refactor(cursor): ✨ migrar cursor glow a sistema global unificado
  openspec/changes/spanish-language-audit/report.md
  src/components/About.astro
  src/components/Contact.astro
  src/components/Experience.astro
  src/components/Hero.astro
  src/components/News.astro
  src/components/Projects.astro
  src/components/Skills.astro
  src/components/sections/CaseStudy.astro
  src/components/sections/QAShowcase.astro
  src/components/sections/WordPressProjects.astro
  src/components/ui/Section.astro
  src/layouts/Layout.astro
  src/styles/cursor-glow.css
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

feat(wordpress): ✨ agregar imagen, URL y descripción real de NIDO Coworking
  src/assets/wordpress/coworkin-danlois.png
  src/components/sections/WordPressProjects.astro
  src/i18n/ui.ts
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

feat(projects): ✨ agregar EventTwo Media como nuevo proyecto
  src/assets/eventtwo.png
  src/components/Projects.astro
  src/i18n/ui.ts
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

feat(wordpress): ✨ completar Brasa Norte y Clínica Oria con datos reales
  src/assets/wordpress/clinica-oria.png
  src/assets/wordpress/restaurant-brasa-norte.png
  src/components/sections/WordPressProjects.astro
  src/i18n/ui.ts
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

feat(wordpress): ✨ agregar MotorNova como 4to proyecto WordPress
  src/assets/wordpress/taller-motornova.png
  src/components/sections/WordPressProjects.astro
  src/i18n/ui.ts
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

chore(changelog): 📝 actualizar CHANGELOG
  CHANGELOG.md
Due: prettier --write

ci: 👷 agregar workflow de CI con lint, type-check, tests y build
  .github/workflows/ci.yml
  CHANGELOG.md
Due: prettier --write

docs: 📝 agregar reporte openspec de cursor glow global
  CHANGELOG.md
  openspec/changes/cursor-glow-global/report.md
Due: prettier --write

docs: 📝 actualizar README con todas las nuevas características
  CHANGELOG.md
  README.md
  openspec/changes/recruiter-evaluation/report.md
Due: prettier --write

test: ✅ agregar 29 tests nuevos para sections y sincronizar docker
  CHANGELOG.md
  README.md
  testing/testing-astro/unit/sections/About.test.ts
  testing/testing-astro/unit/sections/CaseStudy.test.ts
  testing/testing-astro/unit/sections/Contact.test.ts
  testing/testing-astro/unit/sections/Experience.test.ts
  testing/testing-astro/unit/sections/Footer.test.ts
  testing/testing-astro/unit/sections/Hero.test.ts
  testing/testing-astro/unit/sections/News.test.ts
  testing/testing-astro/unit/sections/Projects.test.ts
  testing/testing-astro/unit/sections/QAShowcase.test.ts
  testing/testing-astro/unit/sections/WordPressProjects.test.ts
  testing/testing-docker/unit/cursorGlow.test.ts
  testing/testing-docker/unit/sections/About.test.ts
  testing/testing-docker/unit/sections/CaseStudy.test.ts
  testing/testing-docker/unit/sections/Contact.test.ts
  testing/testing-docker/unit/sections/Experience.test.ts
  testing/testing-docker/unit/sections/Footer.test.ts
  testing/testing-docker/unit/sections/Hero.test.ts
  testing/testing-docker/unit/sections/News.test.ts
  testing/testing-docker/unit/sections/Projects.test.ts
  testing/testing-docker/unit/sections/QAShowcase.test.ts
  testing/testing-docker/unit/sections/WordPressProjects.test.ts
  testing/testing-docker/unit/ui/Button.test.ts
  testing/testing-docker/unit/ui/GlassCard.test.ts
  testing/testing-docker/unit/ui/GradientDivider.test.ts
  testing/testing-docker/unit/ui/Icon.test.ts
  testing/testing-docker/unit/ui/IconBox.test.ts
  testing/testing-docker/unit/ui/Section.test.ts
  testing/testing-docker/unit/ui/SectionHeader.test.ts
  testing/testing-docker/unit/ui/TechBadge.test.ts
Due: eslint --fix, prettier --write

test(e2e): ✅ actualizar home y agregar specs para projects y showcases
  CHANGELOG.md
  src/components/Projects.astro
  src/i18n/ui.ts
  testing/testing-astro/e2e/home.spec.cjs
  testing/testing-astro/e2e/projects.spec.cjs
  testing/testing-astro/e2e/showcases.spec.cjs
  testing/testing-docker/e2e/home.spec.cjs
  testing/testing-docker/e2e/projects.spec.cjs
  testing/testing-docker/e2e/showcases.spec.cjs
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

test(e2e): ✅ 23 tests E2E en 7 specs — cobertura completa de secciones y proyectos
  CHANGELOG.md
  README.md
Due: prettier --write

fix(e2e): 🐛 corregir tests E2E para sections con scroll horizontal
  CHANGELOG.md
  testing/testing-astro/e2e/projects.spec.cjs
  testing/testing-astro/e2e/showcases.spec.cjs
  testing/testing-docker/e2e/projects.spec.cjs
  testing/testing-docker/e2e/showcases.spec.cjs
Due: prettier --write

docs: 📝 actualizar README con 570 unitarios y 190 aserciones E2E
  CHANGELOG.md
  README.md
Due: prettier --write

chore: 📝 actualizar CHANGELOG y openspec
  CHANGELOG.md
  openspec/changes/recruiter-evaluation/summary.md
Due: prettier --write

chore: 📝 actualizar CHANGELOG, openspec y coverage final
  CHANGELOG.md
  openspec/changes/recruiter-evaluation/summary.md
Due: prettier --write

docs: 📝 actualizar coverage en README con explicación de la baja
  CHANGELOG.md
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,astro}
  prettier --write: (any of: *.{js,jsx,ts,tsx,astro}) or (any of: *.{json,md})
  stylelint --fix --custom-syntax postcss-html: any of: *.{css,astro}
