Repository DanloisTovar/portafolio-vfinal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,astro}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ],
  "*.{css,astro}": [
    "stylelint --fix --custom-syntax postcss-html"
  ]
}

feat(ui): ✨ añadir sección de caso de estudio y ajustar altura de cards
  CHANGELOG.md
  src/components/Projects.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

feat(projects): ✨ add lightbox link to case study cards and remove old links
  src/components/Projects.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

docs(changelog): 📝 update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

fix(projects): 🐛 fix lightbox trigger in case study cards
  CHANGELOG.md
  src/components/Projects.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

feat(projects): ✨ style summary text as bento grid card
  CHANGELOG.md
  src/components/Projects.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

feat(portfolio): ✨ add QA and SQL sections
  public/qa/bug1.gif
  public/qa/bug2.gif
  public/qa/test-plan-placeholder.png
  src/components/Projects.astro
  src/components/Skills.astro
  src/i18n/ui.ts
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

feat(i18n): 🌐 traducir muestras de SQL en componente Skills al inglés
  src/i18n/ui.ts
Due: eslint --fix, prettier --write

feat(i18n): 🌐 completar traducciones de caso de estudio y corregir persistencia
  src/components/Projects.astro
  src/i18n/ui.ts
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

feat(skills): 🎨 mejorar sección SQL con nuevos estilos y contenido
  src/components/Skills.astro
  src/i18n/ui.ts
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

fix(i18n): 🌐 corregir traducciones faltantes en inglés para habilidades SQL
  src/i18n/ui.ts
Due: eslint --fix, prettier --write

feat(projects): 🎨 actualizar caso de estudio, corregir diseño y formato
  CHANGELOG.md
  src/assets/caso_de_estudio/buen-codigo.png
  src/assets/caso_de_estudio/buencodigo1.png
  src/assets/caso_de_estudio/mal-codigo.png
  src/assets/caso_de_estudio/malcodigo1.png
  src/components/Projects.astro
  src/i18n/ui.ts
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

feat(case-study): ✨ optimizar cards responsivas y visibilidad
  CHANGELOG.md
  src/components/Projects.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

feat(projects): 🎬 agregar GIFs en sección showcase
  CHANGELOG.md
  src/assets/qa_showcases/GEF5-C7.gif
  src/assets/qa_showcases/GEF7-C5.gif
  src/assets/qa_showcases/qa-documentacion.png
  src/components/Projects.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

fix(projects): 🐛 ajustar aspect-ratio y display en cards de caso de estudio
  CHANGELOG.md
  src/components/Projects.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

fix(projects): 🎨 ajustar padding en la sección de showcase
  CHANGELOG.md
  src/components/Projects.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

feat(qa): ✨ implementar lightgallery en la sección de QA showcase
  CHANGELOG.md
  qa-final-corregido.png
  qa-lightgallery-fixed.png
  qa-lightgallery-open.png
  qa-showcase-final.png
  qa-showcase-updated.png
  src/components/Projects.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

feat(qa): 📝 actualizar y detallar descripciones en showcase de QA
  CHANGELOG.md
  qa-texto-actualizado.png
  src/components/Projects.astro
  src/i18n/ui.ts
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

feat(i18n): 📝 mejorar descripción en inglés del caso de estudio con métricas
  CHANGELOG.md
  src/i18n/ui.ts
Due: eslint --fix, prettier --write

refactor(qa): 🎨 rediseñar layout de showcase a 2 columnas
  src/components/Projects.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

refactor(ui): 🎨 ajustar efecto hover y aspect ratio en imágenes
  CHANGELOG.md
  src/components/Projects.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

fix(consola): :bug: elimina errores y warnings de la consola
  qa-final-corregido.png
  qa-lightgallery-fixed.png
  qa-lightgallery-open.png
  qa-showcase-final.png
  qa-showcase-updated.png
  qa-texto-actualizado.png
  src/components/About.astro
  src/components/Skills.astro
  src/layouts/Layout.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

fix(gallery): 🐛 configurar licencia GPL-3.0 para LightGallery
  LICENSE
  src/components/Projects.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

feat(seo): 🔍 implementar mejoras completas de SEO
  CHANGELOG.md
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/robots.txt
  src/components/Projects.astro
  src/layouts/Layout.astro
  src/pages/[lang]/index.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

fix(css): 🐛 corregir importación de estilos de LightGallery
  src/components/Projects.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

fix(deps): 📦 instalar lightgallery y corregir imports
  package.json
  pnpm-lock.yaml
  src/components/Projects.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

perf(core): ⚡ implementar optimizaciones de rendimiento críticas
  .gitignore
  CHANGELOG.md
  informe-rendimiento.md
  src/components/Hero.astro
  src/layouts/Layout.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

docs(performance): 📊 agregar informe completo de rendimiento y SEO
  informe-rendimiento-seo.md
Due: prettier --write

docs(reports): 📝 reorganizar archivos de informes de rendimiento
  CHANGELOG.md
  informe-rendimiento-seo-06-02-2026.md
  informe-rendimiento.md
Due: prettier --write

docs(changelog): 📝 actualizar CHANGELOG.md con commits recientes
  CHANGELOG.md
Due: prettier --write

docs(changelog): 📝 actualizar CHANGELOG con commits recientes
  CHANGELOG.md
Due: prettier --write

docs(changelog): 📝 Actualiza CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

docs(reports): 📊 actualizar informes de rendimiento y SEO
  CHANGELOG.md
  informe-produccion-vercel.md
  informe-rendimiento-seo-06-02-2026.md
Due: prettier --write

chore(changelog): 🤖 actualizar CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

feat(projects): ✨ agregar enlaces de URL y repositorio al proyecto del portafolio
  src/components/Projects.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

fix(ui): 🐛 reemplazar banderas emoji por iconos SVG
  src/components/FlagIcon.tsx
  src/components/LanguageToggle.tsx
Due: eslint --fix, prettier --write

chore(project): 🔧 update changelog and assets
  CHANGELOG.md
  public/cv/Danlois-Tovar.pdf
Due: prettier --write
