Repository DanloisTovar/portafolio-vfinal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,astro}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ],
  "*.{css,astro}": [
    "stylelint --fix --custom-syntax postcss-html"
  ]
}

docs: 📝 corregir inconsistencias y destacar curso WP + EventTwo
  CHANGELOG.md
  README.md
Due: prettier --write

docs: 📝 agregar bloque destacado del curso WordPress en README
  CHANGELOG.md
  README.md
Due: prettier --write

feat(wordpress): ✨ agregar bloque descriptivo del curso en la página
  CHANGELOG.md
  src/components/sections/WordPressProjects.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

docs: 📝 actualizar texto del curso con SEPEPA y quitar SEO técnico
  CHANGELOG.md
  README.md
  src/components/sections/WordPressProjects.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

chore(changelog): 📝 actualizar CHANGELOG
  CHANGELOG.md
Due: prettier --write

refactor(pages): 🎨 mover Contacto arriba de Noticias
  CHANGELOG.md
  README.md
  openspec/changes/recruiter-evaluation/report.md
  src/pages/[lang]/index.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

style(footer): 🎨 cambiar PORTAFOLIO por Danlois Tovar con gradiente
  CHANGELOG.md
  src/components/Footer.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

style(footer): 🎨 invertir colores — Danlois normal, Tovar gradiente
  CHANGELOG.md
  src/components/Footer.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

style(footer): 🎨 agregar punto final azul en Danlois Tovar.
  CHANGELOG.md
  src/components/Footer.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

style(footer): 🎨 usar font-orbitron como los títulos de sección
  CHANGELOG.md
  src/components/Footer.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

feat(skills): ✨ agregar WordPress y Elementor al LogoLoop
  CHANGELOG.md
  src/components/Animations/LogoLoop/LogoLoop.jsx
Due: eslint --fix, prettier --write

docs: 📝 guardar reporte de sesión en openspec
  CHANGELOG.md
  openspec/changes/session-2026-06-27/report.md
Due: prettier --write

fix(casestudy): 🐛 reparar lightGallery y limpiar div vacío
  CHANGELOG.md
  src/components/sections/CaseStudy.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

fix(casestudy): 🐛 restaurar article tags en lugar de GlassCard para las cards
  CHANGELOG.md
  src/components/sections/CaseStudy.astro
  testing/testing-astro/unit/sections/CaseStudy.test.ts
  testing/testing-docker/unit/sections/CaseStudy.test.ts
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

fix(wordpress): 🐛 mover bloque del curso fuera de la sección 300vh y ajustar espaciado
  src/components/sections/WordPressProjects.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

chore: 📝 actualizar gitignore y CHANGELOG
  .gitignore
  CHANGELOG.md
Due: prettier --write

docs: 📝 guardar reporte de sesión 28 junio en openspec
  CHANGELOG.md
  empleos-para-postular-28-06-2026.md
  openspec/changes/session-2026-06-28/report.md
Due: prettier --write

chore: 🔧 remover archivo personal del repo
  empleos-para-postular-28-06-2026.md
Due: prettier --write

fix(ci): 🐛 corregir pnpm/action-setup version (v4→v2) para GitHub Actions
  .github/workflows/ci.yml
Due: none

fix: 🐛 mover Noticias al final del navbar y footer, arreglar E2E navbar
  CHANGELOG.md
  empleos-para-postular-28-06-2026.md
  src/components/Footer.astro
  src/layouts/Layout.astro
  testing/testing-astro/e2e/links.spec.cjs
  testing/testing-docker/e2e/links.spec.cjs
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

docs: 📝 actualizar README con últimos cambios (footer, orden secciones, WordPress)
  README.md
Due: prettier --write

fix(e2e): 🐛 cambiar waitForElementVisible por waitForElementPresent en navbar links
  CHANGELOG.md
  empleos-para-postular-28-06-2026.md
  testing/testing-astro/e2e/links.spec.cjs
  testing/testing-docker/e2e/links.spec.cjs
Due: prettier --write

chore: 🔧 remover archivo personal
  empleos-para-postular-28-06-2026.md
Due: prettier --write

fix(ci): 🐛 corregir pnpm ignore builds y Node 24 en CI
  .github/workflows/ci.yml
Due: none

fix(ci): 🐛 YAML roto — reescribir con PNPM_APPROVE_BUILDS env
  .github/workflows/ci.yml
Due: none

fix(ci): ♻️ migrar a corepack para instalar pnpm
  .github/workflows/ci.yml
Due: none

fix(ci): 🐛 agregar pnpm.onlyBuiltDependencies para whitelist builds
  package.json
Due: prettier --write

fix(ci): 🐛 ajustar type-check y lint:css para errores pre-existentes
  .github/workflows/ci.yml
  CHANGELOG.md
  empleos-para-postular-28-06-2026.md
  src/components/Experience.astro
  src/components/SocialMenu.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

fix(ci): 🐛 simplificar CI a solo test + build
  .github/workflows/ci.yml
  CHANGELOG.md
Due: prettier --write

fix(ci): 🐛 usar npx vitest run en vez de vitest (watch mode)
  .github/workflows/ci.yml
  CHANGELOG.md
Due: prettier --write

docs: 📝 agregar pendientes próxima sesión
  PENDIENTES.md
Due: prettier --write

fix(ci): 🐛 cambiar vitest a 'vitest run' y usar pnpm test en CI
  .github/workflows/ci.yml
  CHANGELOG.md
  package.json
Due: prettier --write

fix(ci): 🐛 agregar PNPM_ALLOW_SCRIPTS=true en CI
  .github/workflows/ci.yml
  CHANGELOG.md
Due: prettier --write

fix(ci): 🐛 usar pnpm config set approve-builds (sintaxis v10)
  .github/workflows/ci.yml
  CHANGELOG.md
Due: prettier --write
