Repository DanloisTovar/portafolio-vfinal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

chore(changelog): auto-update
  CHANGELOG.md
Due: prettier --write

chore(temp): wip before branch switch
  CHANGELOG.md
Due: prettier --write

style(text): :art: Ajustar alineación de texto a justificado en componentes
  src/components/About.astro
  src/components/Projects.astro
  src/components/Skills.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

chore(changelog): :memo: Actualizar CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

test(testing): 🧪 implement comprehensive testing suite and resolve environment issues
  bin/chromedriver
  src/components/Animations/TargetCursor/TargetCursor.tsx
  src/components/News.astro
  testing/testing-astro/e2e/home.spec.cjs
  testing/testing-astro/e2e/home.spec.js
  testing/testing-astro/e2e/interactions.spec.cjs
  testing/testing-astro/unit/LanguageToggle.test.tsx
  testing/testing-astro/unit/ThemeToggle.test.tsx
  testing/testing-astro/unit/counter.test.tsx
  testing/testing-docker/unit/counter.test.tsx
  vitest.config.ts
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

test(testing): 🧪 implement comprehensive unit/e2e tests and formal test plan
  CHANGELOG.md
  src/components/Animations/GlareHover/GlareHover.jsx
  src/components/Contact.astro
  src/components/TextAnimations/CircularText/CircularText.jsx
  src/constants/links.ts
  testing/testing-astro/e2e/home.spec.cjs
  testing/testing-astro/e2e/interactions.spec.cjs
  testing/testing-astro/e2e/links.spec.cjs
  testing/testing-astro/e2e/navigation.spec.cjs
  testing/testing-astro/e2e/seo.spec.cjs
  testing/testing-astro/plandepruebas.md
  testing/testing-astro/unit/CircularText.test.tsx
  testing/testing-astro/unit/FlagIcon.test.tsx
  testing/testing-astro/unit/GlareHover.test.tsx
  testing/testing-astro/unit/Links.test.ts
  testing/testing-astro/unit/LogoLoop.test.tsx
  testing/testing-astro/unit/Navbar.test.tsx
  testing/testing-astro/unit/StarBorder.test.tsx
  testing/testing-astro/unit/TargetCursor.test.tsx
  testing/testing-astro/unit/i18n.test.ts
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

test(testing): ✅ increase TargetCursor coverage to 80% and fix GSAP setup
  CHANGELOG.md
  README.md
  src/components/Animations/TargetCursor/TargetCursor.tsx
  testing/testing-astro/unit/CircularText.test.tsx
  testing/testing-astro/unit/GlareHover.test.tsx
  testing/testing-astro/unit/Navbar.test.tsx
  testing/testing-astro/unit/StarBorder.test.tsx
  testing/testing-astro/unit/TargetCursor.test.tsx
  testing/testing-astro/unit/i18n.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

chore(config): 🐳 agregar .dockerignore y actualizar changelog
  .dockerignore
  CHANGELOG.md
Due: prettier --write

chore(config): 🔧 configurar puerto de desarrollo en 3003
  astro.config.mjs
Due: none

test(e2e): 🐳 add docker test scripts, fix firefox
  nightwatch.docker.cjs
  package.json
Due: prettier --write

test(testing): 🧪 migrar tests E2E a CommonJS y agregar tests unitarios
  CHANGELOG.md
  astro.config.mjs
  testing/testing-docker/e2e/home.spec.cjs
  testing/testing-docker/e2e/home.spec.js
  testing/testing-docker/e2e/interactions.spec.cjs
  testing/testing-docker/e2e/links.spec.cjs
  testing/testing-docker/e2e/navigation.spec.cjs
  testing/testing-docker/e2e/seo.spec.cjs
  testing/testing-docker/unit/CircularText.test.tsx
  testing/testing-docker/unit/FlagIcon.test.tsx
  testing/testing-docker/unit/GlareHover.test.tsx
  testing/testing-docker/unit/LanguageToggle.test.tsx
  testing/testing-docker/unit/Links.test.ts
  testing/testing-docker/unit/LogoLoop.test.tsx
  testing/testing-docker/unit/Navbar.test.tsx
  testing/testing-docker/unit/StarBorder.test.tsx
  testing/testing-docker/unit/TargetCursor.test.tsx
  testing/testing-docker/unit/ThemeToggle.test.tsx
  testing/testing-docker/unit/i18n.test.ts
Due: eslint --fix, prettier --write

chore(config): agregar .atl/ a .gitignore y actualizar CHANGELOG
  .gitignore
  CHANGELOG.md
Due: prettier --write

feat(shared): 🔧 extract cursor glow to shared modules
  src/layouts/Layout.astro
  src/lib/cursorGlow.ts
  src/styles/cursor-glow.css
  src/styles/global.css
  testing/testing-astro/unit/cursorGlow.test.ts
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

feat(ui): 🏗️ create 7 atomic UI components with variant dict pattern
  src/components/ui/Button.astro
  src/components/ui/GlassCard.astro
  src/components/ui/GradientDivider.astro
  src/components/ui/IconBox.astro
  src/components/ui/Section.astro
  src/components/ui/SectionHeader.astro
  src/components/ui/TechBadge.astro
  testing/testing-astro/unit/ui/Button.test.ts
  testing/testing-astro/unit/ui/GlassCard.test.ts
  testing/testing-astro/unit/ui/GradientDivider.test.ts
  testing/testing-astro/unit/ui/Icon.test.ts
  testing/testing-astro/unit/ui/IconBox.test.ts
  testing/testing-astro/unit/ui/Section.test.ts
  testing/testing-astro/unit/ui/SectionHeader.test.ts
  testing/testing-astro/unit/ui/TechBadge.test.ts
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

feat(icons): 🎨 add icon components with lucide-react mapping
  src/components/icons/GitHubIcon.astro
  src/components/icons/Icon.astro
  src/components/icons/TwitterIcon.astro
  src/components/icons/WhatsAppIcon.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

fix(layout): 🐛 remover import prematuro de cursor-glow.css
  src/layouts/Layout.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

refactor(contact): ♻️ migrar Contact.astro a componentes atomicos
  openspec/changes/atomic-refactor/design.md
  openspec/changes/atomic-refactor/spec.md
  openspec/changes/atomic-refactor/tasks.md
  openspec/changes/wordpress-projects-section/proposal.md
  src/components/Contact.astro
  src/components/ui/SectionHeader.astro
  testing/testing-astro/unit/ui/SectionHeader.test.ts
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

chore: ⬆️ actualizar chromedriver a v149
  bin/chromedriver
Due: none

refactor(about): ♻️ migrar About.astro a componentes atomicos
  src/components/About.astro
  src/components/ui/GlassCard.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

refactor(skills): ♻️ migrar Skills.astro a componentes atomicos
  src/components/Skills.astro
  testing/testing-astro/unit/ui/GlassCard.test.ts
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

refactor(experience): ♻️ migrar Experience.astro a componentes atomicos
  src/components/Experience.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

refactor(news): ♻️ migrar News.astro a componentes atomicos
  src/components/News.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

refactor(hero): ♻️ migrar Hero.astro a componentes atomicos
  src/components/Hero.astro
  src/components/ui/Button.astro
  testing/testing-astro/unit/ui/Button.test.ts
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

refactor(footer): ♻️ migrar Footer.astro a componentes atomicos
  src/components/Footer.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

fix(ui): 🐛 corregir z-index y reactivar cursor-glow global
  src/components/ui/Section.astro
  src/layouts/Layout.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

fix(contact): 🐛 corregir z-index del cursor glow en Contacto
  src/components/Contact.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

refactor(projects): ♻️ split Projects.astro into CaseStudy + QAShowcase
  src/components/Projects.astro
  src/components/sections/CaseStudy.astro
  src/components/sections/QAShowcase.astro
  src/pages/[lang]/index.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

chore(cleanup): 🗑️ remove dead Welcome.astro component
  src/components/Welcome.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

feat(wordpress): ✨ add WordPress projects horizontal-scroll section
  src/components/sections/WordPressProjects.astro
  src/i18n/ui.ts
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

test(coverage): ✅ final verification — all tests passing
  openspec/changes/atomic-refactor/tasks.md
Due: prettier --write

fix(skills): 🐛 cambiar slot por prop icon en SectionHeader
  src/components/Skills.astro
  src/components/ui/SectionHeader.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

fix(icons): 🐛 reescribir Icon.astro como SVG puro sin React
  src/components/icons/Icon.astro
  testing/testing-astro/unit/ui/Icon.test.ts
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

fix(skills): 🐛 restaurar estructura original de SQL subsection
  src/components/Skills.astro
  src/components/ui/SectionHeader.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

fix(icons): 🐛 corregir lookup case-sensitive en Icon.astro
  src/components/icons/Icon.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

refactor(pages): 🎨 mover WordPress entre CaseStudy y QAShowcase
  src/pages/[lang]/index.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

feat(wordpress): ✨ agregar cursor glow a seccion WordPress
  src/components/sections/WordPressProjects.astro
  src/components/ui/GlassCard.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

refactor(wordpress): 🔥 remover cursor glow de seccion WordPress
  src/components/sections/WordPressProjects.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

refactor(projects): 🎨 unificar patrón de fondo en contenedor único
  src/components/Projects.astro
  src/components/sections/CaseStudy.astro
  src/components/sections/QAShowcase.astro
  src/components/sections/WordPressProjects.astro
  src/pages/[lang]/index.astro
  src/styles/global.css
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

fix(projects): 🎨 remover fondos individuales de secciones
  src/components/Projects.astro
  src/components/sections/CaseStudy.astro
  src/components/sections/QAShowcase.astro
  src/components/sections/WordPressProjects.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,astro}
  prettier --write: (any of: *.{js,jsx,ts,tsx,astro}) or (any of: *.{json,md})
  stylelint --fix --custom-syntax postcss-html: any of: *.{css,astro}
