Repository DanloisTovar/portafolio-vfinal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

fix(ci): 🐛 crear .npmrc con approve-builds (solución pnpm v10)
  .github/workflows/ci.yml
  .npmrc
  CHANGELOG.md
Due: prettier --write

fix(ci): 🐛 probar vitest sin coverage en CI
  .github/workflows/ci.yml
  CHANGELOG.md
Due: prettier --write

fix(ci): 🔍 verbose output para debuggear qué test falla
  .github/workflows/ci.yml
  CHANGELOG.md
Due: prettier --write

fix(ci): 🐛 probar pnpm.onlyBuiltDependencies[] en .npmrc
  .npmrc
  CHANGELOG.md
Due: prettier --write

fix(ci): 🐛 ignorar exit code de pnpm install (el warning no es fatal)
  .github/workflows/ci.yml
  CHANGELOG.md
Due: prettier --write

fix(ci): 🐛 eliminar yml y crear uno nuevo — pnpm@9, Node 22
  .github/workflows/ci.yml
  CHANGELOG.md
  package.json
Due: prettier --write

fix(ci): 🐛 usar npx vitest run directo (evitar pnpm run)
  .github/workflows/ci.yml
  CHANGELOG.md
Due: prettier --write

chore: 🔥 eliminar CI temporalmente — se retoma después
  .github/workflows/ci.yml
  CHANGELOG.md
Due: prettier --write

fix(ci): 🐛 replicar CI de EventTwo — pnpm@10 via action-setup
  .github/workflows/ci.yml
  CHANGELOG.md
Due: prettier --write

fix(responsive): 📱 achicar tags y badge destacado en móvil
  CHANGELOG.md
  src/components/Projects.astro
  src/components/ui/TechBadge.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

Revert "fix(responsive): 📱 achicar tags y badge destacado en móvil"
  CHANGELOG.md
  src/components/Projects.astro
  src/components/ui/TechBadge.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

fix(responsive): 📱 responsive tags, títulos y enlaces para tablet/iPad Pro
  CHANGELOG.md
  src/components/Projects.astro
  src/components/sections/WordPressProjects.astro
  src/components/ui/GlassCard.astro
  src/components/ui/TechBadge.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

fix(responsive): 📱 aplicar max-w-full en tags WordPress móvil/tablet
  CHANGELOG.md
  src/components/sections/WordPressProjects.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

chore: 🔧 blindar empleos-para-postular en gitignore
  .gitignore
  CHANGELOG.md
  PENDIENTES.md
Due: prettier --write

chore: 🔧 gitignore archivos personales, openspec y pendientes
  .gitignore
  CHANGELOG.md
  openspec/changes/atomic-refactor/design.md
  openspec/changes/atomic-refactor/spec.md
  openspec/changes/atomic-refactor/tasks.md
  openspec/changes/cursor-glow-global/report.md
  openspec/changes/recruiter-evaluation/report.md
  openspec/changes/recruiter-evaluation/summary.md
  openspec/changes/session-2026-06-27/report.md
  openspec/changes/session-2026-06-28/report.md
  openspec/changes/spanish-language-audit/report.md
  openspec/changes/wordpress-projects-section/proposal.md
Due: prettier --write

chore: 🔧 limpiar duplicados en gitignore
  .gitignore
Due: none

chore(changelog): 📝 actualizar CHANGELOG
  CHANGELOG.md
Due: prettier --write

feat(seo): 🔍 agregar meta tag de verificación de Google Search Console
  src/layouts/Layout.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

chore(hygiene): 🔧 gitignore archivos personales y análisis CV
  .gitignore
  CHANGELOG.md
Due: prettier --write

fix(seo): corregir dominio base y ocultar sección WordPress
  astro.config.mjs
  public/robots.txt
  src/layouts/Layout.astro
  src/pages/[lang]/index.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

feat(experience): 💼 agregar prácticas profesionales en Estudio 27
  src/components/Experience.astro
  src/i18n/ui.ts
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

feat(education): 🎓 agregar curso SEPEPA de WordPress a educación
  src/components/Skills.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

feat(cv): 📄 actualizar CV en PDF con nueva experiencia
  public/cv/Danlois-Tovar.pdf
Due: none

feat(wordpress): 🔓 reactivar sección de proyectos WordPress
  src/pages/[lang]/index.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

chore(hygiene): 🔒 remover archivos personales del repo
  PENDIENTES.md
  empleos-para-postular-28-06-2026.md
Due: prettier --write

docs(readme): 📝 actualizar puerto y cobertura reales
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,astro}
  prettier --write: (any of: *.{js,jsx,ts,tsx,astro}) or (any of: *.{json,md})
  stylelint --fix --custom-syntax postcss-html: any of: *.{css,astro}
