Repository DanloisTovar/portafolio-vfinal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,astro}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ],
  "*.{css,astro}": [
    "stylelint --fix --custom-syntax postcss-html"
  ]
}

docs(setup): agregar guía detallada de Conventional Commits
  COMMIT_GUIDE.md
Due: prettier --write

chore(deps): actualizar React a v19.2.3 y React-DOM a v19.2.3
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(react19): corregir compatibilidad con React 19 en Astro
  src/components/Counter.tsx
  src/pages/index.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

chore(deps): actualizar @astrojs/react a v4.4.2 para soporte React 19
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(react): revertir a client:load para renderización correcta del Counter
  src/pages/index.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

test(unit): agregar tests unitarios con Vitest y Testing Library
  package.json
  pnpm-lock.yaml
  tests/unit/basic.test.ts
  tests/unit/counter.test.tsx
  vitest.config.ts
  vitest.setup.ts
Due: eslint --fix, prettier --write

chore(cleanup): eliminar archivo de prueba test.txt
  test.txt
Due: none

chore(config): actualizar nombre del proyecto a portafolio-vfinal
  package.json
Due: prettier --write

docs(readme): actualizar documentación del proyecto
  README.md
Due: prettier --write

chore(license): agregar licencia MIT al proyecto
  LICENSE
Due: none

chore(husky): agregar hook pre-push para generar CHANGELOG con pnpm changelog
  .husky/pre-push
Due: none

docs(changelog): generar CHANGELOG inicial con conventional-changelog
  CHANGELOG.md
Due: prettier --write

refactor(deps): reorganizar dependencias siguiendo buenas prácticas
  package.json
Due: prettier --write

feat(init): estructura inicial de proyecto
  CHANGELOG.md
  pnpm-lock.yaml
Due: prettier --write

fix(init): resolucion de conflicto de merge
  CHANGELOG.md
Due: prettier --write

feat(astro): 🎨 deshabilitar dev toolbar para mejorar experiencia de desarrollo
  CHANGELOG.md
  astro.config.mjs
Due: prettier --write

docs(changelog): 📝 actualizar CHANGELOG con nuevos cambios
  CHANGELOG.md
Due: prettier --write

🐛 fix: corregir notación de import en global.css
  src/styles/global.css
Due: stylelint --fix --custom-syntax postcss-html

docs(changelog): actualizar CHANGELOG.md con nuevos cambios
  CHANGELOG.md
Due: prettier --write

docs(changelog): actualizar CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

refactor(i18n): mejorar tipado y validación en utils.ts
  CHANGELOG.md
  src/i18n/utils.ts
  tests/unit/counter.test.tsx
Due: eslint --fix, prettier --write

docs(readme): actualizar documentación del proyecto con nuevas características
  README.md
Due: prettier --write

docs(changelog): prueba de hooks funcionando correctamente
  CHANGELOG.md
Due: prettier --write

refactor(components): 🔧 limpiar import innecesario en LanguageToggle
  CHANGELOG.md
Due: prettier --write

docs(changelog): 📝 actualizar CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

fix(deploy): add vercel adapter and ignore build output
  .gitignore
  CHANGELOG.md
  astro.config.mjs
  src/assets/cv/Danlois-Tovar.pdf
  src/components/Hero.astro
  src/components/LanguageToggle.tsx
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

chore(changelog): update changelog
  CHANGELOG.md
Due: prettier --write

fix(assets): move CV to public folder and update link
  CHANGELOG.md
  public/cv/Danlois-Tovar.pdf
  src/components/Hero.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html

fix(deps): downgrade zod to v3 to resolve instance mismatch
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(responsive): ✨ Mejora el responsive en móviles pequeños para navbar y toggles
  src/components/LanguageToggle.tsx
  src/components/Navbar.tsx
  src/components/ThemeToggle.tsx
Due: eslint --fix, prettier --write

chore(build): update generated files after merge
  CHANGELOG.md
  astro.config.mjs
  pnpm-lock.yaml
Due: prettier --write

chore(changelog): update CHANGELOG.md automatically
  CHANGELOG.md
Due: prettier --write

feat(case-study): 🚀 Añade sección "Caso de estudio" con cards inspiradas en proyectos
  src/components/Projects.astro
Due: eslint --fix, prettier --write, stylelint --fix --custom-syntax postcss-html
